<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Doctrine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Doctrine">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <nav class="border-b p-4 mb-6">
        <div class="container mx-auto flex justify-between items-center">
          <div class="text-sm">
            <% if authenticated? %>
              <span class="mr-4 text-gray-500"><%= Current.user.email_address %></span>
              <%= button_to "Log out", session_path, method: :delete, class: "inline text-red-600 hover:underline cursor-pointer bg-transparent border-0" %>
            <% else %>
              <%= link_to "Log in", new_session_path, class: "mr-4 hover:underline" %>
              <%= link_to "Sign up", new_registration_path, class: "bg-black text-white px-3 py-1 rounded" %>
            <% end %>
          </div>
        </div>
      </nav>
      <%= yield %>
    </main>
  </body>
</html>
